#panelsocial {
    background: url("/modules/panelsocial_rms/img/facebook_left.png") ;
    width: 300px;
    height: 349px;
    padding: 1px;
    position: fixed;
    top:145px;
    left:-256px;
    z-index: 100;
    }
.panelfb {
    margin:5px;
    background: white ;
    width: 244px;
}
#ceneo-widget { position:fixed;        `        top:1px;}
    div#ceneo-widget {font-family:Arial, Helvetica, sans-serif; color:#000; font-size:11px !important; width:293px; font-weight:normal; line-height: normal; letter-spacing:normal; text-align:left; letter-spacing:normal; height:auto; }
    div#ceneo-widget * {padding:0; margin:0; }
    div#ceneo-widget img {border:0; }
    div#ceneo-widget a {color:#076e9e; text-decoration:none; }
    div#ceneo-widget a:hover { text-decoration:underline}
    div#ceneo-widget .klir {clear:both; overflow:hidden; zoom:1; height:1px;}

    div#ceneo-widget h2 { background-color:#f7941e; width:40px;  border-radius:5px 0 0 5px; -moz-border-radius:5px 0 0 5px; -webkit-border-radius:5px 0 0 5px; -khtml-border-radius:5px 0 0 5px; position:absolute; top:20px; left:0; padding:15px 0}
    div#ceneo-widget h2 img { text-align:center; margin:10px 0 0 7px}
    div#ceneo-widget h2 div.widgetLogo {display:block; background: url(http://ssl.ceneo.pl/shops/Images/logo-ceneo.png) center no-repeat;  text-indent:-9999px; height:118px;}
    div#ceneo-widget div.widgetBody { background:#e4e7e8 url(http://ssl.ceneo.pl/shops/Images/widgetBG.png) top repeat-x; border:1px solid #bbb; padding:10px; position:absolute; left:40px; top:0; width:257px; min-height:160px; zoom:1 }
div#ceneo-widget div.widgetBody h3 {font-size:14px;}

    div#ceneo-widget div.widgetBody, div#ceneo-widget div.widgetContent {border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px;} 
    div#ceneo-widget div.claim h3 { background:url(http://ssl.ceneo.pl/shops/Images/checkus.png) left center no-repeat; width:140px; height:36px; text-indent:-9999px; float:left;}
    div#ceneo-widget div.claim a img { float:left;}
    div#ceneo-widget div.widgetContent { border:1px solid #bbb; margin-top:10px; padding:8px; background-color:#fff}
    div#ceneo-widget div.widget-zo, div#ceneo-widget div.widget-pok { border-bottom:1px solid #bbb; padding-bottom:5px; font-size:12px; zoom:1}
    div#ceneo-widget div.widget-zo img {float:left;}
    div#ceneo-widget div.widget-zo div.zo-number { background-color:#6e9d41; color:#fff; float:right;  text-align:center; padding:10px;}
    div#ceneo-widget div.widget-zo div.zo-number span {font-size:18px;  display:block;}
    div#ceneo-widget div.widget-pok { padding:5px 10px 5px 15px; border:0;}
    div#ceneo-widget div.widget-pok img {float:left; margin:0 10px 0 0;}
    div#ceneo-widget div.widget-pok p{ float:left; width:130px}
    div#ceneo-widget div.pokInfo { background-color:#ffd955; padding:5px; margin-bottom:10px; font-size:12px; text-align:center}
    div#ceneo-widget div.widget-recommend {}
div#ceneo-widget div.widget-recommend h3 { background-color:#6e9d41; padding:5px 10px; color:#fff; font-weight:normal; zoom:1; line-height:16px}
            div#ceneo-widget div.widget-recommend h3 span { font-size:24px; vertical-align:top; margin-right:10px; float:left; display:block; height:30px; line-height:30px}
            div#ceneo-widget div.widget-recommend table { width:100%;font-size: 11px;}
            div#ceneo-widget div.widget-recommend table td { padding:3px 4px; border-bottom:1px solid #f1f1f1 }
            div#ceneo-widget div.widget-recommend table td.c2 {text-align:right}
            div#ceneo-widget div.widget-recommend table td.c2 img  {width:16px; height:16px;}
            div#ceneo-widget div.widget-recommend table tr.all td {  font-size:11px;}
            div#ceneo-widget div.widget-recommend table tr.all td.c2 {font-weight:bold;}
            div#ceneo-widget div.widget-recommend table td.c3 {text-align:right; color:#6e9d41; width:30px;}
div#ceneo-widget table.widget-summary {font-size:11px;width:232px; background:url(http://ssl.ceneo.pl/shops/Images/widgetSummaryBG.png) repeat-x; margin-left:2px}
    div#ceneo-widget table.widget-summary td { padding:3px 5px; white-space:normal}
    div#ceneo-widget table.widget-summary td.c1 {font-size:14px; color:#6e9d41; font-weight:bold; width:50px;}
    div#ceneo-widget span.green { background-color:#6E9D41; color:#fff; padding:0 3px;}