#header .shopping_cart {
    float:                      right;
    background:                 url("/themes/audiorms2014/image/bg-cart.png") repeat-x scroll left top transparent;
    position:                   absolute;
    height:                     55px;
    margin-top:                 46px;
    width:                      400px;
    right:                      225px;
    z-index:                    1;
}
#header .shopping_cart > a:first-child:after {
    font-family:                "FontAwesome";
    display:                    inline-block;
    font-size:                  18px;
    content:                    "";
    padding:                    6px 0px 0px 5px;
}
#header .shopping_cart > a:first-child:hover:after {
    content:                    "";
    padding:                    4px 0px 2px;
}
div.shopping_cart:after {
    content:                    "";
    width:                      55px;
    height:                     55px;
    position:                   absolute;
    top:                        0px;
    background:                 url("/themes/audiorms2014/image/bg-cart-after.png") no-repeat scroll left top transparent;
    right:                      -55px;
}
div.shopping_cart:before {
    background:                 url("/themes/audiorms2014/image/bg-cart-before.png") no-repeat scroll left top transparent;
    content:                    "";
    height:                     55px;
    left:                       -55px;
    position:                   absolute;
    width:                      55px;
}
.shopping_cart {
    width:                      270px;
}
@media (max-width: 480px) {
    .shopping_cart {
        padding-top:            20px;
        }
}
@media (max-width: 1200px) {
    .shopping_cart {
        margin:                 0px auto;
        float:                  none;
        width:                  100%;
        }
}
.shopping_cart > a:first-child {
    display:                    block;
    font-weight:                bold;
    text-shadow:                1px 1px rgba(0, 0, 0, 0.2);
    overflow:                   hidden;
    padding:                    10px 10px 14px 16px;
    color:                      rgb(221, 221, 221);
}
@media (min-width: 768px) and (max-width: 991px) {
    .shopping_cart > a:first-child span.ajax_cart_product_txt, .shopping_cart > a:first-child span.ajax_cart_product_txt_s {
        display:                none ! important;
        }
}
.shopping_cart > a:first-child b {
    color:                      white;
    font:                       600 18px/22px "Open Sans",sans-serif;
    padding-right:              5px;
}
.shopping_cart > a:first-child:before {
    content:                    "";
    font-family:                "FontAwesome";
    display:                    inline-block;
    font-size:                  23px;
    color:                      white;
    line-height:                34px;
    padding-right:              5px;
}
.shopping_cart .ajax_cart_total {
    display:                    none ! important;
}
.shopping_cart .block_cart_expand:after, .shopping_cart .block_cart_collapse:after {
    content:                    "";
    font-family:                "FontAwesome";
    display:                    inline-block;
    float:                      right;
    font-size:                  18px;
    color:                      rgb(104, 102, 102);
    padding:                    6px 0px 0px;
}
.shopping_cart .block_cart_collapse:after {
    content:                    "";
    padding:                    4px 0px 2px;
}
.cart_block .cart_block_list .remove_link {
    position:                   absolute;
    right:                      10px;
    top:                        19px;
}
.cart_block .cart_block_list .remove_link a, .cart_block .cart_block_list .ajax_cart_block_remove_link {
    color:                      rgb(119, 119, 119);
    display:                    block;
    width:                      100%;
    height:                     100%;
}
.cart_block .cart_block_list .remove_link a:before, .cart_block .cart_block_list .ajax_cart_block_remove_link:before {
    display:                    inline-block;
    content:                    "";
    font-family:                "FontAwesome";
    font-size:                  18px;
    line-height:                18px;
}
.cart_block .cart_block_list .remove_link a:hover, .cart_block .cart_block_list .ajax_cart_block_remove_link:hover {
    color:                      rgb(81, 81, 81);
}
.cart_block .cart-images {
    float:                      left;
    margin-right:               20px;
}
.cart_block .cart-info {
    overflow:                   hidden;
    position:                   relative;
    padding-right:              20px;
}
.cart_block .cart-info .product-name {
    padding-bottom:             5px;
    margin-top:                 -4px;
}
.cart_block .cart-info .product-name a {
    font-size:                  13px;
    line-height:                18px;
    display:                    inline-block;
}
.cart_block .cart-info .quantity-formated {
    display:                    inline-block;
    color:                      rgb(156, 155, 155);
    text-transform:             uppercase;
    font-size:                  10px;
    padding-right:              5px;
}
.cart_block .cart-info .quantity-formated .quantity {
    font-size:                  15px;
}
.cart_block dt {
    font-weight:                normal;
    overflow:                   hidden;
    padding:                    20px 10px 16px 20px;
    position:                   relative;
}
.cart_block dd {
    position:                   relative;
}
.cart_block dd .cart_block_customizations {
    border-top:                 1px dashed rgb(51, 51, 51);
}
.cart_block dd .cart_block_customizations li {
    padding:                    10px 20px;
}
.cart_block dd .cart_block_customizations li .deleteCustomizableProduct {
    position:                   absolute;
    right:                      10px;
}
.cart_block .cart_block_no_products {
    margin:                     0px;
    padding:                    10px 20px;
}
.cart_block .cart-prices {
    border-top:                 1px solid rgb(214, 212, 212);
    font-weight:                bold;
    padding:                    10px 20px 22px;
}
.cart_block .cart-prices .cart-prices-line {
    overflow:                   hidden;
    border-bottom:              1px solid rgb(81, 81, 81);
    padding:                    7px 0px;
}
.cart_block .cart-prices .cart-prices-line.last-line {
    border:                     medium none;
}
.cart_block .cart-buttons {
    overflow:                   hidden;
    padding:                    20px 20px 10px;
    margin:                     0px;
    background:                 none repeat scroll 0% 0% rgb(246, 246, 246);
}
.cart_block .cart-buttons a {
    width:                      100%;
    float:                      left;
    text-align:                 center;
    margin-bottom:              10px;
    margin-right:               10px;
}
.cart_block .cart-buttons a#button_order_cart {
    margin-right:               0px;
    border:                     medium none;
}
.cart_block .cart-buttons a#button_order_cart span {
    padding:                    7px 0px;
    font-size:                  1.1em;
    border:                     1px solid rgb(99, 196, 115);
    background:                 none repeat scroll 0% 0% rgb(67, 177, 85);
}
.cart_block .cart-buttons a#button_order_cart:hover span {
    border:                     1px solid rgb(53, 140, 67);
    background:                 none repeat scroll 0% 0% rgb(46, 122, 58);
    color:                      white;
}
#header .cart_block {
    position:                   absolute;
    z-index:                    100;
    display:                    none;
    height:                     auto;
    background:                 none repeat scroll 0% 0% rgb(72, 72, 72);
    color:                      white;
    width:                      270px;
    top:                        60px;
    left:                       0px;
}
@media (max-width: 480px) {
    #header .cart_block {
        width:                  100%;
        }
}
@media (max-width: 1200px) {
    #header .cart_block {
        width:                  100%;
        }
}
#header .cart_block a {
    color:                      white;
}
#header .cart_block a:hover {
    color:                      rgb(156, 155, 155);
}
#header .cart_block .cart_block_list .remove_link a, #header .cart_block .cart_block_list .ajax_cart_block_remove_link {
    color:                      white;
    outline:                    medium none;
    text-decoration:            none;
}
#header .cart_block .cart_block_list .remove_link a:hover, #header .cart_block .cart_block_list .ajax_cart_block_remove_link:hover {
    color:                      rgb(156, 155, 155);
}
#header .cart_block .price {
    color:                      white;
}
#header .cart_block dt {
    background:                 url("../../../img/cart-shadow.png") repeat-x scroll 0% 0% transparent;
}
#header .cart_block dt.first_item {
    background:                 none repeat scroll 0% 0% transparent;
}
#header .cart_block .product-atributes {
    padding-bottom:             10px;
    font-size:                  11px;
}
#header .cart_block .product-atributes a {
    color:                      rgb(156, 155, 155);
}
#header .cart_block .product-atributes a:hover {
    color:                      white;
}
#header .cart_block .cart-prices {
    border:                     medium none;
    background:                 url("../../../img/cart-shadow.png") repeat-x scroll 0% 0% rgb(61, 61, 61);
}
#header .cart_block .cart-buttons {
    background:                 url("../../../img/cart-shadow.png") repeat-x scroll 0% 0% rgb(51, 51, 51);
}
#header .block_content {
    margin-bottom:              0px;
}
.cart_block #cart_block_summary, .cart_block .title_block span, #header .cart_block h4, #header .cart_block .title_block, #header .cart_block h4 {
    display:                    none;
}
.cart_block .cart_block_shipping_cost, .cart_block .cart_block_tax_cost, .cart_block .cart_block_total, .cart_block .cart_block_wrapping_cost {
    float:                      right;
}
.cart_block table.vouchers {
    clear:                      both;
    width:                      80%;
    margin:                     0px auto 10px;
}
.cart_block table.vouchers tr td {
    padding:                    2px;
}
.cart_block table.vouchers tr td.quantity {
    margin-right:               5px;
    min-width:                  18px;
}
.cart_block table.vouchers tr td.delete {
    padding-left:               0px;
    padding-right:              0px;
    text-align:                 right;
    width:                      15px;
}
.layer_cart_overlay {
    background-color:           rgb(0, 0, 0);
    display:                    none;
    height:                     100%;
    left:                       0px;
    position:                   fixed;
    top:                        0px;
    width:                      100%;
    z-index:                    98;
    opacity:                    0.2;
    -ms-filter:                 "alpha(opacity=20)";
    filter:                     alpha(opacity=20);
    zoom:                       1;
}
* html .layer_cart_overlay {
    position:                   absolute;
    left:                       0px;
    margin-left:                -160px;
    opacity:                    0.2;
    -ms-filter:                 "alpha(opacity=20)";
    filter:                     alpha(opacity=20);
    zoom:                       1;
}
#layer_cart {
    background-color:           white;
    position:                   absolute;
    display:                    none;
    z-index:                    99;
    width:                      84%;
    margin-right:               8%;
    margin-left:                8%;
    border-radius:              4px;
    -moz-border-radius:         4px;
    -webkit-border-radius:      4px;
}
#layer_cart .layer_cart_product {
    padding:                    30px;
    overflow:                   hidden;
    position:                   static;
}
#layer_cart .layer_cart_product h2 {
    font:                       400 23px/29px Arial,Helvetica,sans-serif;
    color:                      rgb(70, 167, 78);
    margin-bottom:              22px;
    padding-right:              100px;
}
@media (max-width: 767px) {
    #layer_cart .layer_cart_product h2 {
        font-size:              18px;
        padding-right:          0px;
        line-height:            normal;
        }
}
#layer_cart .layer_cart_product h2 i {
    font-size:                  30px;
    line-height:                30px;
    float:                      left;
    padding-right:              8px;
}
@media (max-width: 767px) {
    #layer_cart .layer_cart_product h2 i {
        font-size:              22px;
        line-height:            22px;
        }
}
#layer_cart .layer_cart_product .product-image-container {
    max-width:                  178px;
    border:                     1px solid rgb(214, 212, 212);
    padding:                    5px;
    float:                      left;
    margin-right:               30px;
}
@media (max-width: 480px) {
    #layer_cart .layer_cart_product .product-image-container {
        float:                  none;
        margin-right:           0px;
        margin-bottom:          10px;
        }
}
#layer_cart .layer_cart_product .layer_cart_product_info {
    padding:                    38px 0px 0px;
}
#layer_cart .layer_cart_product .layer_cart_product_info #layer_cart_product_title {
    display:                    block;
    padding-bottom:             8px;
}
#layer_cart .layer_cart_product .layer_cart_product_info > div {
    padding-bottom:             7px;
}
#layer_cart .layer_cart_product .layer_cart_product_info > div strong {
    padding-right:              3px;
}
#layer_cart .layer_cart_cart {
    background:                 none repeat scroll 0% 0% rgb(250, 250, 250);
    border-left:                1px solid rgb(214, 212, 212);
    padding:                    21px 30px 170px;
    border-radius:              0px 4px 4px 0px;
    -moz-border-radius:         0px 4px 4px 0px;
    -webkit-border-radius:      0px 4px 4px 0px;
    position:                   relative;
}
@media (min-width: 1200px) {
    #layer_cart .layer_cart_cart {
        min-height:             318px;
        }
}
@media (min-width: 992px) and (max-width: 1199px) {
    #layer_cart .layer_cart_cart {
        min-height:             360px;
        }
}
@media (max-width: 991px) {
    #layer_cart .layer_cart_cart {
        border-left:            medium none;
        border-top:             1px solid rgb(214, 212, 212);
        }
}
#layer_cart .layer_cart_cart h2 {
    font:                       400 23px/29px Arial,Helvetica,sans-serif;
    color:                      rgb(51, 51, 51);
    border-bottom:              1px solid rgb(214, 212, 212);
    padding-bottom:             13px;
    margin-bottom:              17px;
}
@media (max-width: 767px) {
    #layer_cart .layer_cart_cart h2 {
        font-size:              18px;
        }
}
#layer_cart .layer_cart_cart .layer_cart_row {
    padding:                    0px 0px 7px;
}
#layer_cart .layer_cart_cart .button-container {
    position:                   absolute;
    bottom:                     0px;
    left:                       0px;
    width:                      100%;
    padding:                    0px 30px 20px;
}
#layer_cart .layer_cart_cart .button-container .btn {
    margin-bottom:              10px;
}
#layer_cart .layer_cart_cart .button-container span.exclusive-medium {
    margin-right:               5px;
}
#layer_cart .layer_cart_cart .button-container span.exclusive-medium i {
    padding-right:              5px;
    color:                      rgb(119, 119, 119);
}
#layer_cart .cross {
    position:                   absolute;
    right:                      7px;
    top:                        8px;
    width:                      25px;
    height:                     25px;
    cursor:                     pointer;
    color:                      rgb(51, 51, 51);
    z-index:                    2;
}
#layer_cart .cross:before {
    content:                    "";
    display:                    block;
    font-family:                "FontAwesome";
    font-size:                  25px;
    line-height:                25px;
}
#layer_cart .cross:hover {
    color:                      rgb(81, 81, 81);
}
#layer_cart .continue {
    cursor:                     pointer;
}
#layer_cart p {
    padding:                    0px;
}
#layer_cart .crossseling .crossseling-content {
    border-top:                 1px solid rgb(214, 212, 212);
    padding:                    26px 30px 40px;
    position:                   relative;
}
#layer_cart .crossseling h2 {
    font:                       400 23px/26px Arial,Helvetica,sans-serif;
    color:                      rgb(51, 51, 51);
    margin-bottom:              25px;
}
#layer_cart .crossseling #blockcart_list {
    max-width:                  773px;
    width:                      84%;
    margin:                     0px auto;
    overflow:                   hidden;
}
#layer_cart .crossseling #blockcart_list ul {
    display:                    block;
}
#layer_cart .crossseling #blockcart_list ul li {
    float:                      left;
    width:                      178px;
    margin:                     0px;
}
#layer_cart .crossseling #blockcart_list ul li .product-image-container {
    border:                     1px solid rgb(214, 212, 212);
    text-align:                 center;
    padding:                    5px;
    margin-bottom:              15px;
}
#layer_cart .crossseling #blockcart_list ul li .product-image-container img {
    width:                      100%;
}
#layer_cart .crossseling #blockcart_list ul li .product-name {
    padding-bottom:             5px;
}
#layer_cart .crossseling #blockcart_list ul li .product-name a {
    font-size:                  15px;
    line-height:                20px;
}
#layer_cart .crossseling #blockcart_list a.bx-prev, #layer_cart .crossseling #blockcart_list a.bx-next {
    display:                    block;
    font-family:                "FontAwesome";
    font-size:                  20px;
    line-height:                20px;
    width:                      20px;
    height:                     20px;
    color:                      rgb(51, 51, 51);
    text-indent:                -5000px;
    position:                   absolute;
    top:                        45%;
    margin-top:                 -20px;
}
#layer_cart .crossseling #blockcart_list a.bx-prev:after, #layer_cart .crossseling #blockcart_list a.bx-next:after {
    display:                    block;
    text-indent:                0px;
}
#layer_cart .crossseling #blockcart_list a.bx-prev:hover, #layer_cart .crossseling #blockcart_list a.bx-next:hover {
    color:                      rgb(192, 192, 192);
}
#layer_cart .crossseling #blockcart_list a.bx-prev.disabled, #layer_cart .crossseling #blockcart_list a.bx-next.disabled {
    display:                    none;
}
#layer_cart .crossseling #blockcart_list a.bx-prev {
    left:                       5%;
}
#layer_cart .crossseling #blockcart_list a.bx-prev:after {
    content:                    "";
}
#layer_cart .crossseling #blockcart_list a.bx-next {
    right:                      5%;
}
#layer_cart .crossseling #blockcart_list a.bx-next:after {
    content:                    "";
}
#layer_cart .crossseling #blockcart_list .bx-controls {
    overflow:                   hidden;
}