

.plusslider-container {
    position: relative;
    left: 0px;
}

.plusslider {
    background-clip: padding-box;
    border-radius: 15px 15px 15px 15px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 15px solid rgba(255, 255, 255, 0.3);
    height: 250px;
    margin: 0px auto;
    padding-bottom: 40px;
    overflow: hidden;
    position: relative;
}

.plusslider .child {
    float: left;
}

.plusslider-pagination-wrapper {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-clip: padding-box;
    height: 40px;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 500;
}

.plusslider-pagination {
    display: table;
    margin: 0px auto;
    padding: 15px 0px;
}

.plusslider-pagination li {
    background: url("../images/plus-sprite.png") no-repeat scroll left top transparent;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 0px;
    height: 10px;
    margin: 0px 3px;
    text-indent: -9999px;
    width: 10px;
    position: relative;
}

.plusslider-pagination .current, .plusslider-pagination li:hover {
    background-position: -10px 0px;
}

.plusslider-arrows li {
    background: url("../images/plus-sprite.png") no-repeat scroll left top transparent;
    cursor: pointer;
    display: block;
    height: 32px;
    margin-top: -16px;
    opacity: 0;
    width: 32px;
    position: absolute;
    top: 50%;
    z-index: 200;
    text-indent: -9999px;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

.plusslider:hover .plusslider-arrows li {
    opacity: 1;
}

.plusslider-arrows .prev {
    background-position: 0px -10px;
    left: 10px;
}

.plusslider-arrows .prev:hover {
    background-position: 0px -42px;
    left: 10px;
}

.plusslider-arrows .next {
    background-position: -33px -10px;
    right: 10px;
}

.plusslider-arrows .next:hover {
    background-position: -33px -42px;
}

.plustype-fader .child {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
}

.plustype-fader .current {
    z-index: 2;
}

.plustype-fader .plusslider-pagination {
    position: relative;
    z-index: 200;
}

.plusslider-container > * {
    display: none;
}

.plusslider-container > :first-child {
    display: block;
}

.plusslider-container .child {
    display: block;
}