/* block top search */
#search_block_top {
	position:absolute;
	top:30px;
	left:0px;
}
#search_block_top p {padding:0;}
#search_block_top #search_query_top {
	padding:0 5px;
	height:31px;
	width:270px;/* 310 */
	border:3px solid #aaa;
	color:#666;
	background:url(img/bg_search_input.png) repeat-x 0 0 #fff;
	float: left;
    border-radius:10px;
}

#search_block_top .button {
	border:none;
	border-radius:0;
	color:#fff;
	text-transform:uppercase;
	background:url(img/bg_search_submit.png) repeat-x 0 0 #101010;
	float: left;
	height: 25px;
}
#search_block_top .lupa {
    height: 25px;
    background: url(img/lupa.png);
    width:31px;
    margin-left: -35px;
    margin-top:3px;
    border:0;
    cursor: pointer;
}
