<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>pricewars</name>
            <displayName><![CDATA[Price wars!]]></displayName>
            <version><![CDATA[1.7 <a style="color: #9BBD23;" href="http://pl.seigi.eu/barghest.html" target="_blank">Barghest &#10148;</a>]]></version>
            <description><![CDATA[Generuje xml z ofertą sklepu dla Ceneo, Nokaut, Skąpiec, Radar, okazje.info i zakupy.onet.pl]]></description>
            <author><![CDATA[seigi.eu (Barghest)]]></author>
            <tab><![CDATA[advertising_marketing]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>